.logovanje{
    display: grid;
    height:100%;
    place-items: center;
    background:lightgray;
}

.wrapper {
    max-width:390px;
    background: #fff;
    padding:30px;
    border-radius:20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-top: 8%;
    margin-bottom: 8%;
}

.wrapper.title-text{
    display:flex;
    width:200%;
}

.wrapper.title-text.title{
    width:50%;
    font-size:35px;
    text-align:center;
}

.wrapper.form-container{
    width:100%;
}




.form-container.form-inner form.field{
    height:50px;
    width:100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline:none;
    padding-left:15px;
    padding-bottom:5px;
    font-size:17px;
    border-radius:5px;
    border: 1px solid black;
    border-bottom-width:1px;
    margin-top: 15px;
}

.form-inner form .field input:focus{
    border-color:rgb(224, 126, 46);
}


.form-inner form .singup-link a{
    color: rgb(224, 126, 46);
    text-align: center;
}

form .field input[type="submit"]{
    color:white;
    font-size:20px;
    font-weight: 500;
    padding-left: 0px;
    cursor:pointer;
    background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #021B79, #0a63bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.Naslov{
    text-align: center;
    font-size: 200%;
    color: rgb(224, 126, 46);
}
