div.polaroid {
  width:fit-content;
  background-color: rgb(95, 16, 16);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0px;
}
  
div.container {
  text-align: center;
  padding: 0 0;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}


.grid_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: ceter;
  padding-left: 0;
  padding-right: 0;
   
}

.grid-container {
  display: grid;  
  grid-template-columns: auto auto auto;
  background-color: inherit;
  padding: 0px;
  grid-column-gap: 108px;
  grid-row-gap: 60px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  rgb(224, 126, 46);
}
    
    
.food_example {
  width: 300px; 
  cursor: pointer;
  background-color:rgb(224, 126, 46);
}

.card_text{
  margin-top: 0px; margin-bottom: 0px; font-size: 22px; background-color: rgb(224, 126, 46);color: white; text-align: center; cursor: pointer;
}


.myLogo{
 width: 8%;
 height: 15%;
}

.header_text{
 font-size: 30px;
 color: white;
}
 
.header_background{
  background-color: rgba(255, 173, 119);
} 

.footer_style{
  padding:22px;
  background-color: rgb(224, 126, 46);
}

.footer_text{
  padding:3px;
  color: white;
  font-size: 16px;
}

.letters_dark_orange {
  color: rgb(224, 126, 46);
}

.left_color{
  background-color: rgb(224, 126, 46);
}