#UserDropdownMenu{
	position: absolute;
	top: 38px;
	right: 0px;
}

.close-button:hover{
	background-color:red !important;
}

.buttons {
	width: 160px;
	background-color: rgb(224, 126, 46) !important;
	color:white !important;  
}

.blue {
	background-color: rgb(58, 80, 148);
}

.letters_blue {
	color: rgb(58, 80, 148);
}

.color-blue {        
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.color-dark-blue {        
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #021B79, #0a63bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding-left: 5%;
	padding-right: 6%;
}

.gradient_literature {        
    background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgb(7,73,165), #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgb(7,73,165), #0a63bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.letters_dark_blue, #text_input{        
    color: #021B79;
}
    
.letters {        
    color: white;
}

#notes div.suggestions {
  border-radius: 5px;
  border:deepskyblue;
  border-width:thick;
  border-style: groove;
}

#notes ol {
  list-style: disc;    
}

ol{
  list-style: disc;    
  font-size: 16px;
}

#like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

#left {
  padding-top: 5%;
  width: calc(70% - 3px);
  border-right: 3px solid darkblue;
  float: left;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

#right {
  padding-top:0;
  width: calc(30% + 3px);
  float: right;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}  

.letters_dark_orange {
	color: rgb(224, 126, 46);
}

.letters_dark_gray {
	color: #555;
}

.color-dark-orange {        
	background: rgb(224, 126, 46); 
}

.hover_gray:hover{
	background-color: #555 !important;
	color: whitesmoke !important;
}

#menuDropdown {
	position: absolute;
	top: 38px;
	left: 106px;
}

.no_padding{
	padding: 0 !important;
}

.use100height{
	height: 100%;
}

.style_content{
	max-width:85%;
	padding-top: 0;
}

.padding5per{
	padding-left: 5%;
	padding-right: 5%;
}

.padding5perVertical{
	padding-top: 5%;
	padding-bottom: 5%;
}


.font24{
	font-size: 24px;
}

.font18{
	font-size: 18px;
}

.font20{
	font-size: 20px;
}

.font26{
	font-size: 26px;
}

.font34{
	font-size: 34px;
}


#styleSpans{
	padding-left: 10%; 
	padding-right: 10%;
	width: 100%; 
	align-items: center;
}

.width100{
	width: 100%;
}

.max100{
	max-width: 100% !important;
}

.overflowH{
	overflow: hidden;
}

.paddingLeft5{
	padding-left: 5%;
}